@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: url("../images/bg-mobile.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: hsl(257deg, 40%, 49%);
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}
.container .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4.2rem;
}
.container .main-container .logo-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.container .main-container .logo-image-container img:first-child {
  width: 15.5rem;
  height: auto;
}
.container .main-container .logo-image-container img:last-child {
  width: 100%;
  margin: 7rem 0;
}
.container .main-container .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.container .main-container .info-container > * {
  text-align: center;
}
.container .main-container .info-container h1 {
  font-size: 3rem;
}
.container .main-container .info-container p {
  font-size: 1.8rem;
}
.container .main-container .info-container .register-button {
  width: 25rem;
  height: 5rem;
  background-color: white;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: hsl(257deg, 40%, 49%);
  font-size: 1.5rem;
  font-weight: 400;
  box-shadow: 0.5rem 0.5rem 1rem hsla(0deg, 0%, 0%, 0.2);
}
.container .main-container .info-container .register-button:hover {
  background-color: hsl(300deg, 69%, 71%);
  color: white;
}
.container .links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 1rem 0;
  row-gap: 1rem;
}
.container .links-container .icon-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  justify-content: center;
}
.container .links-container .icon-container .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: 0.15rem solid white;
  color: white;
}
.container .links-container .icon-container .icon i {
  font-size: 1.75rem;
}
.container .links-container .icon-container .icon:hover {
  color: hsl(300deg, 69%, 71%);
  border-color: hsl(300deg, 69%, 71%);
}
.container .links-container .footer {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.5rem 0;
}
.container .links-container .footer p {
  color: white;
  margin-bottom: 0.3rem;
}
.container .links-container .footer p span:last-child {
  display: block;
}
.container .links-container .footer i {
  font-size: 1.2rem;
}
.container .links-container .footer a {
  color: white;
}
.container .links-container .footer a:hover {
  color: hsl(300deg, 69%, 71%);
  transition: 700ms;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 2.2vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  html {
    font-size: 1.2vw;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
  }
  .container .main-container {
    width: 80rem;
    max-height: 44.2rem;
    flex-direction: row;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    padding: 0;
  }
  .container .main-container .logo-image-container {
    flex-basis: 58%;
    margin-bottom: initial;
  }
  .container .main-container .logo-image-container img:first-child {
    width: 14rem;
  }
  .container .main-container .logo-image-container img:last-child {
    margin-top: 5.5rem;
    margin-bottom: auto;
  }
  .container .main-container .info-container {
    align-items: flex-start;
    margin-right: 0.35em;
    flex-basis: 42%;
    row-gap: 1.5rem;
    padding-top: 1.5rem;
  }
  .container .main-container .info-container > * {
    text-align: left;
  }
  .container .main-container .info-container h1 {
    font-size: 2.5rem;
  }
  .container .main-container .info-container p {
    font-size: 1.05rem;
  }
  .container .main-container .info-container .register-button {
    width: 12.5rem;
    height: 3.5rem;
    font-size: 1.15rem;
  }
  .container .links-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 0.7rem;
  }
  .container .links-container .icon-container {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .container .links-container .icon-container .icon {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.12rem solid white;
  }
  .container .links-container .icon-container .icon i {
    font-size: 1.05rem;
  }
  .container .links-container .footer {
    font-size: 0.7rem;
    margin-left: 0.5rem;
  }
  .container .links-container .footer p {
    margin-bottom: 0.1rem;
  }
  .container .links-container .footer i {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=style.css.map */